<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.abhiknav.dresswell">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HeOrShe">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".he_age_select" />
        <activity android:name=".she_age_select" />
        <activity
            android:name=".kid_male"
            android:label="@string/title_activity_kid_male"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kid_female"
            android:label="@string/title_activity_kid_female"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teen_male"
            android:label="@string/title_activity_teen_male"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adult_male"
            android:label="@string/title_activity_adult_male"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adult_female"
            android:label="@string/title_activity_adult_female"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".old_male"
            android:label="@string/title_activity_old_male"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".old_female"
            android:label="@string/title_activity_old_female"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teen_female"
            android:label="@string/title_activity_teen_female"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>